<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Stylesheet, font, and scripts -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

    <!-- TinyMCE editor plugin -->
    <script src="https://cdn.tiny.cloud/1/7ae3o5uzrewft335mf4ud5h2gjdlqeba7jiqb383naymbd5b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: '#content',
          height: 500,
          plugins: "wordcount preview image fullscreen emoticons codesample autosave advancedlist"
        });
    </script>

    <!-- Title template -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Flask-Moment -->
    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary py-2">
            <div class="container">
                <!-- Left navlinks -->
                <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse">
                    <ul class="navbar-nav me-auto">
                        {% if session["user_id"] %}
                        <li class="navbar-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="navbar-item"><a class="nav-link" href="/global">Global</a></li>
                        <li class="navbar-item"><a class="nav-link" href="/create_post">Post</a></li>
                        {% else %}
                        <li class="navbar-item"><a class="nav-link" href="/global">Global</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Blog logo -->
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto h1" style="font-size: 140%;" href="/">Bruhlog</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".dual-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Right navlinks -->
                <div class="collapse navbar-collapse w-100 order-3 dual-collapse">
                    <ul class="navbar-nav ms-auto">
                        {% if session["user_id"] %}
                        <li class="navbar-item"><a class="nav-link" href="/profile">Profile</a></li>
                        <li class="navbar-item"><a class="nav-link" href="/login">Logout</a></li>
                        {% else %}
                        <li class="navbar-item"><a class="nav-link" href="/login">Log in</a></li>
                        <li class="navbar-item"><a class="nav-link" href="/signup">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Flash messages at top of screen for client notice -->
    <div class="flashes container">
        <div class="row">
            <div class="col"></div>
            <div class="col align-self-center mt-3">
                {% with messages =  get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "success" %}
                                <header class="alert alert-success text-left alert-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close text-end" data-bs-dismiss="alert"></button>
                                </header>
                            {% elif category == "info" %}
                                <header class="alert alert-info text-left alert-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close text-end" data-bs-dismiss="alert"></button>
                                </header>
                            {% elif category == "warning" %}
                                <header class="alert alert-warning text-left alert-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close text-end" data-bs-dismiss="alert"></button>
                                </header>
                            {% elif category == "error" %}
                                <header class="alert alert-danger text-left alert-dismissable fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close text-end" data-bs-dismiss="alert"></button>
                                </header>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- Main content of page goes here -->
    <main>
        {% block main %}{% endblock %}
    </main>

    <!-- Footer info -->
    <footer>
        <p>&copy;{{ moment().format("YYYY") }} Gerard G.</p>
    </footer>
</body>

</html>