{% extends "layout.html" %}

{% block title %}Profile | {{ user.username }}{% endblock %}

{% block main %}
    <h1>Welcome to {{ user.username }}'s profile</h1>
    {% if session["user_id"] %}
        {% if not session_user.is_following(user) %}
            <button class="btn btn-info btn-sm" id="follow-unfollow-button"
                onclick="followUnfollow2('{{ user.username }}')">Follow</button>
        {% else %}
            <button class="btn btn-info btn-sm" id="follow-unfollow-button"
                onclick="followUnfollow2('{{ user.username }}')">Unfollow</button>
        {% endif %}
        <p id="onclick-status"></p>
    {% endif %}
{% endblock %}