<!-- Sidebar component -->
<aside class="col-md-4">
    <article class="shadow p-3 mb-5 bg body">
        <h4>About</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra rhoncus sem sed pulvinar. Sed sapien libero, dapibus et libero at, bibendum ultricies magna. Praesent eu interdum erat, faucibus imperdiet quam. Phasellus risus felis, fringilla sit amet tortor ac, interdum consequat nulla. Pellentesque non sem dignissim, pharetra massa id, pharetra massa. Maecenas ac interdum tortor. Vivamus mollis commodo diam, non consectetur justo varius eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat vehicula ex, tempor tempor nisi accumsan et. Maecenas ac nunc a neque molestie efficitur.
        <br>
        <a class="credit-links" href="https://www.flaticon.com/free-icons/like" title="like icons">Like icons created by Pixel perfect - Flaticon</a>
    </article>
</aside>