{% extends "layout.html" %}

{% block title %}{{ post.author.first_name }}'s post{% endblock %}

{% block main %}
    <div class="container">
        <div class="row g-5 my-2">
            <!-- Blog post -->
            <section class="col-md-8">
                <hr class="my-4">
                <article class="post shadow p-3 mb-5 bg-body">
                    <header class="post-header">
                        <h2><a href="/post/id={{ post.id }}">{{ post.title }}</a></h3>
                        <h4>By <a href="/user/{{ post.author.username }}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h4>
                        <h4 class="text-muted">Uploaded on {{ post.date_posted }}</h4>
                    </header>
                    <section class="post-content text-truncate">
                        {{ post.content | safe }}
                    </section>
                    {% if session["user_id"] %}
                    <!-- <button class="btn btn-outline-info btn-sm" onclick="like({{ post.id }}, {{ session['user_id'] }})">Like</button> -->
                    <a href=""></a>
                    {% endif %}
                </article>
            </section>
            <!-- The sidebar -->
            <aside class="col-md-4">
                Hii
            </aside>
        </div>
    </div>
{% endblock %}