body {
    vertical-align: middle;
    font-family: Bitter, Georgia, serif;
}
h1, h2, h3, h4 {
    font-weight: bold;
    font-family: Roboto, Helvetica, sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0 1px;
}
th, td {
    /* width: 150px; */
    /* text-align: center; */
    /* border: 1px solid black; */
    padding: 5px;
}

.post {
    margin: auto;
    overflow-wrap: break-word;
}
.post-header a {
    text-decoration: none;
    color: inherit;
}
.post-header a:hover {
    text-decoration: underline;
}
.post-header h4 {
    font-size: small;
}

.profile-header {
    font-weight: bold;
}

.dropdown {
    float: right;
}

.header {
    font-style: italic;
}

.pfp-profile {
    height: auto;
    width: 128px;
}
.pfp-post {
    height: auto;
    width: 36px;
}


form {
    text-align: center;
    margin: 10px 0px 10px 0px;
}
form input, form button, form label {
    display: block;
    margin: auto;
    margin-block: 10px;
}


footer {
    text-align: center;
}